<header>
  <img
    src="assets/img/foto-redimensionada-130x130.jpg"
    alt="Daniel Santos - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Daniel Santos</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack .NET | Angular | React | JavaScript | NodeJs</p>
    <p>Feira de Santana, Bahia, Brasil</p>
    <p>
      Aluno do curso de Bacharelado em Sistemas de Informação pelo IFBA.
      Atualmente aprimorando minhas habilidades como programador em busca de
      entrar no mercado de trabalho como Desenvolvedor Web Full-Stack.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/cv-daniel"
            target="_blank"
            class="btn btn-primary"
          >
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/daniel-silva-santos-b74833274/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Contato Whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5575992363554&text=Ol%C3%A1%20Daniel,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma Mensagem para:</strong>
            <p>Whatsapp: (75) 99236-3554</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Contato E-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:danielsantosprog@gmail.com" target="_blank">
            <strong>Envie um E-mail para:</strong>
            <p>danielsantosprog&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
