<header>
  <div class="portfolio-header">
    <h3 >Portfolio</h3>
    <p >Daniel Silva Santos</p>
  </div>
  
  <img
    src="assets/img/foto-redimensionada-130x130.jpg"
    alt="Daniel Santos - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
</header>

<aside>
  <div class="container">
    <p>Full-Stack | React | JavaScript | TypeScript | NodeJs</p>
    <p>Feira de Santana, Bahia, Brasil</p>
    <p class="header-intro">Olá, eu sou <b>Daniel</b>, desenvolvedor Full-Stack.</p>
    <p>      
      Bacharel em Sistemas de Informação pelo IFBA, busco construir aplicações completas, do banco de dados ao front-end.
      Atualmente focado no ecossistema <span class="intro-span">JavaScript/Node.js</span> para desenvolvimento de <span class="intro-span">SPAs</span> de alta performance e <span class="intro-span">APIs RESTful</span> como Programador júnior Full-Stack.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/cv-daniel.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/daniel-silva-santos-b74833274/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Contato Whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5575992363554&text=Ol%C3%A1%20Daniel,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma Mensagem para:</strong>
            <p>Whatsapp: (75) 99236-3554</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Contato E-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:danielsantosprog@gmail.com" target="_blank">
            <strong>Envie um E-mail para:</strong>
            <p>danielsantosprog&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
